/* search-list */
hci-search-list {
  height: inherit;
}

hci-search-list .scrollable {
  height: inherit;
}

.ri .hci-sidebar hci-search-list,
.ri-sidebar .hci-sidebar hci-search-list,
.theme-core-default .hci-sidebar hci-search-list {
  .nav-item {
    background-color: $white-lightest !important;
    padding: 0 !important;
  }

  .no-results-found {
    color: $pure-red;
    padding-left: 10px;
  }

  .paging-footer {
    background-color: $greywarm-meddark !important;
    color: $white-lightest !important;
  }
}

.ri .hci-sidebar hci-search-list-controller,
.ri-sidebar .hci-sidebar hci-search-list-controller,
.theme-core-default hci-search-list-controller {
  background-color: $greywarm-meddark !important;
  color: $white-lightest !important;
  /*margin-bottom: 1px;*/
  /*box-shadow: 0px 2px 2px $greycool-medium;*/
  z-index: 1000;

  /* options */
  // Search and Advanced Search styles
  .search-options.expanded {
    overflow: hidden;
    background: linear-gradient(
        0deg, $white-lightest 30%, $bluewarmvividfade-lighter 100%);
  }

  .search-options .card-header-component {
    display: flex;
  }

  .search-options .mat-form-field {
    font-size: 1rem !important;
    font-family: hci-font;
    color: $bluewarm-dark !important;
  }

  .search-options > * mat-form-field {
    border: .1px solid $grey-medium;
    width: 220px;
  }

  .search-options.expanded .nav {
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    display: -webkit-box;
    padding-left: 22px;
    padding-right: 22px;
    margin-bottom: -5px;
    z-index: 100;
  }

  .search-msg-holder {
    background-color: $white-lightest;
    margin-left: auto;
    display: block;
    padding-bottom: 1px;
    text-align: right;
    font-weight: bold;
    font-size: large;
    padding-right: 25px;
  }

  .search-results-count {
    background-color: #7e878c!important;
    color: #fff!important;
    margin-top: -2px;
    box-shadow: 0 2px 2px #b0b8c4;
    /*z-index: 1000;*/
  }
}
