
.mat-tab-body-wrapper{
  flex-grow: 1;
}

.mat-tab-label{
  background-color: #98c7e0;
}

.mat-tab-label-active{
  background-color: #def4ff;
}

.report-details{
  height: 100%;
  width: 100%;
  position: absolute
}

.center-row{
  margin-top: 10px;
  margin-left: 60vw;
}
