
.widget-svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  vertical-align: top;
  overflow: hidden;
}

.widget-svg-content-responsive {
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 0;
}
