// @import "_variables-colors.scss";

$themes: (
  ri-default: (
    ri-text-main: $bluewarm-dark,
    ri-text-main-selected: $white-lightest,
    ri-text-readonly: $grey-dark,
    ri-text-validate: $pure-red,
    ri-text-phi: $pure-lemon,
    ri-text-extracted: $pure-purple,
    ri-text-shared: $pure-green,
    ri-text-missing: $pure-red,
    ri-text-warn: $pure-orange,
    ri-text-deceased: $black-dark,
    ri-text-link: $bluecoolvivid-lightest,
// -----------------------------------------------------------------------------
    ri-main {
      background-color: $white-medlight;
    }
    ri-main-header {
      color: $bluewarm-dark;
      background-color: $bluewarm-medlight;
      box-shadow: 0px 1px 1px $greycool-darkest;
    }
    ri-main-breadcrumb {
      color: $bluewarm-meddark;
    }
    ri-main-logo {
      color: $bluewarmvivid-meddark;
    }
// -----------------------------------------------------------------------------
    ri-sidebar {
      color: $bluewarm-dark;
      background-color: $white-lightest;
      box-shadow: 2px 0px 1px $greycool-light;
    }
    ri-sidebar-search {
      color: $greywarm-lightest;
      background-color: $bluewarm-meddark;
      box-shadow: 0px 0.5px 0.5px $greycool-dark;
    }
    ri-sidebar-search-textfield {
      color: $greywarm-dark;
      background-color: $white-lightest;
      border: 0.1px solid $greywarm-darkest;
      border-radius: 5px;
    }
    ri-sidebar-footer {
      color: $white-light;
      background-color: $bluewarm-meddark;
    }
// -----------------------------------------------------------------------------
    ri-tabnav {
      color: $bluewarm-medlight;
      background-color: $greywarm-darker;
      box-shadow: 0px 0.5px 0.5px $greycool-darkest;
    }
    ri-tabnav-tabs {
      color: $bluewarm-medlight;
      background-color: $greywarm-darker;
      border-right: 1px solid $greywarm-medium;
    }
    ri-tabnav-tabs:hover {
      color: $bluewarm-light;
      background-color: $greywarm-dark;
      border-right: 1px solid $greywarm-medium;
    }
    ri-tabnav-tabs-select {
      color: $bluewarm-darker;
      background-color: $greywarm-meddark;
      border-right: 1px solid $greywarm-medium;
    }
    ri-tabnav-tabs-select-deceased {
      color: $bluewarm-medlight;
      background-color: $black-medium;
      border-right: 1px solid $greywarm-medium;
    }
// -----------------------------------------------------------------------------
    ri-banner {
      color: $white-lightest;
      background-color: $greywarm-meddark;
      box-shadow: 0px 0.5px 0.5px $greycool-dark;
    }
    ri-banner-deceased {
      color: $white-lightest;
      background-color: $black-medium;
      box-shadow: 0px 0.5px 0.5px $greycool-dark;
    }
// -----------------------------------------------------------------------------
    ri-card {
      color: $bluewarm-dark;
      background-color: $white-lightest;
      box-shadow: 0px 1px 3px $greycool-dark;
      border: .1 solid $greywarm-medium;
      border-radius: 5px;
        }
    ri-card-header {
      color: $bluewarm-dark;
      background-color: $white-darkest;
      box-shadow: 0px 1px 1px $greycool-dark;
      border: .1 solid $grey-medium;
      border-radius: 5px 5px 0 0;
        }
// -----------------------------------------------------------------------------
    ri-modal {
      color: $bluewarm-dark;
      background-color: $white-lightest;
      box-shadow: 1px 1px 3px $greycool-darkest;
      border: .1 solid $greywarm-medium;
      border-radius: 5px;
        }
    ri-modal-header {
      color: $bluewarm-dark;
      background-color: $white-darkest;
      box-shadow: 0px 1px 1px $greycool-dark;
      border: .1 solid $grey-medium;
      border-radius: 5px 5px 0 0;
        }
    ri-modal-footer {
      background-color: $white-darker;
      border: .1 solid $grey-medium;
      border-radius: 0 0 5px 5px;
        }
    ri-modal-inset {
      background-color: $white-light;
      box-shadow: 0px 1px 1px $greycool-medium;
      border: .1 solid $grey-medium;
      border-radius: 5px;
        }
    ri-modal-inset-textfield {
      color: $bluewarm-dark;
      background-color: $white-lightest;
      border: .1 solid $black-lightest;
      border-radius: 5px;
    }
// ---------------------------------- BUTTONS ----------------------------------
    ri-btn-main {
      color: $white-lightest;
      background: linear-gradient(0deg, $bluewarm-meddark 0%, $bluewarm-meddark 30%, $bluewarm-medium 100%);
      border: 0.2px solid $greywarm-darkest;
      border-radius: 5px;
    }
    ri-btn-main:hover {
      color: $white-lightest;
      background: linear-gradient(0deg, $bluewarm-dark 0%, $bluewarm-dark 30%, $bluewarm-meddark 100%);
    }
// ----------------------------------
    ri-btn-banner {
      color: $white-lightest;
      background: linear-gradient(0deg, $greywarm-dark 0%, $greywarm-dark 30%, $greywarm-medium 100%);
      border: 0.2px solid $grey-lighter;
      border-radius: 5px;
    }
    ri-btn-banner:hover {
      color: $white-lightest;
      background: linear-gradient(0deg, $greywarm-dark 0%, $greywarm-dark 30%, $greywarm-light 100%);
      border: 0.2px solid $grey-lighter;
      border-radius: 5px;
    }
    ri-btn-banner-deceased {
      color: $white-lightest;
      background: linear-gradient(0deg, $greywarm-darkest 0%, $greywarm-darkest 30%, $greywarm-darker 100%);
      border: 0.2px solid $greywarm-darker;
      border-radius: 5px;
    }
    ri-btn-deceased:hover {
      color: $white-lightest;
      background: linear-gradient(0deg, $greywarm-darker 0%, $greywarm-darker 30%, $greywarm-dark 100%);
      border: 0.2px solid $greywarm-darker;
      border-radius: 5px;
    }
// ----------------------------------
    ri-btn-save-inactive {
      color: $grey-light;
      background: linear-gradient(0deg, $grey-lighter 0%, $grey-lighter 30%, $white-meddark 100%);
      border: 0.2px solid $grey-lighter;
      border-radius: 5px;
    }
    ri-btn-save-dirty {
      color: $white-lightest;
      background: linear-gradient(0deg, $bluewarmvivid-light 0%, $bluewarmvivid-light 30%, $bluewarmvivid-lightest 100%);
      border: 0.2px solid $grey-medium;
      border-radius: 5px;
    }
    ri-btn-save-dirty:hover {
      color: $bluewarmvivid-darker;
      background: linear-gradient(0deg, $bluewarmvivid-lightest 0%, $bluewarmvivid-lightest 30%, $bluewarmvividfade-dark 100%);
      border: 0.2px solid $grey-medium;
      border-radius: 5px;
    }
    ri-btn-save-dirty:active {
      color: $white-lightest;
      background: linear-gradient(0deg, $bluewarmvivid-light 0%, $bluewarmvivid-light 30%, $bluewarmvivid-medium 100%);
      border: 0.2px solid $grey-medium;
      border-radius: 5px;
    }
// ----------------------------------
    ri-btn-cancel {
      color: $white-lightest;
      background: linear-gradient(0deg, $grey-meddark 0%, $grey-meddark 30%, $grey-medlight 100%);
      border: 0.2px solid $grey-lighter;
      border-radius: 5px;
    }
    ri-btn-cancel-inactive {
      color: $grey-light;
      background: linear-gradient(0deg, $grey-lighter 0%, $grey-lighter 30%, $white-meddark 100%);
      border: 0.2px solid $grey-lighter;
      border-radius: 5px;
    }
    ri-btn-cancel-dirty {
      color: $white-lightest;
      background: linear-gradient(0deg, $bluewarm-dark 0%, $bluewarm-dark 30%, $bluewarm-medium 100%);
      border: 0.2px solid $grey-medium;
      border-radius: 5px;
    }
    ri-btn-cancel-dirty:hover {
      color: $bluewarmvivid-dark;
      background: linear-gradient(0deg, $bluewarm-medium 0%, $bluewarm-medium 30%, $bluewarm-lighter 100%);
      border: 0.2px solid $grey-medium;
      border-radius: 5px;
    }
    ri-btn-cancel-dirty:active {
      color: $white-lightest;
      background: linear-gradient(0deg, $bluewarm-meddark 0%, $bluewarm-meddark 30%, $bluewarm-darker 100%);
      border: 0.2px solid $grey-medium;
      border-radius: 5px;
    }
    // ----------------------------------
    ri-btn-delete {
      color: $white-lightest;
      background: linear-gradient(0deg, $grey-meddark 0%, $grey-meddark 30%, $grey-medlight 100%);
      border: 0.2px solid $grey-lighter;
      border-radius: 5px;
    }
    ri-btn-delete-inactive {
      color: $grey-light;
      background: linear-gradient(0deg, $grey-lighter 0%, $grey-lighter 30%, $white-meddark 100%);
      border: 0.2px solid $grey-lighter;
      border-radius: 5px;
    }
    ri-btn-delete-confirm {
      color: $pure-red-dark;
      background: linear-gradient(0deg, $pure-red-medium 0%, $pure-red-medium 30%, $pure-red-light 100%);
      border: 0.2px solid $pure-red;
      border-radius: 5px;
    }
    ri-btn-delete-confirm:hover {
      color: $white-lightest;
      background: linear-gradient(0deg, $pure-red 0%, $pure-red 30%, $pure-red-light 100%);
      border: 0.2px solid $pure-red;
      border-radius: 5px;
    }
    ri-btn-delete-confirm:active {
      color: $white-lightest;
      background: linear-gradient(0deg, $pure-red-medium 0%, $pure-red-medium 30%, $pure-red-dark 100%);
      border: 0.2px solid $pure-red;
      border-radius: 5px;
    }
    // -----------------------------------------------------------------------------
    ri-scrollbar {
      background: $greywarm-dark;
    }
    ri-scrollbar:hover {
      background: $greywarm-darkest;
    }
    ri-scrollbar:active {
      background: $greywarm-darkest;
    }
  ),
);
