
.hci-app-footer {
  @include themify($themes) {
    background-color: themed("footer-background-color");
  }

  width: 100%;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  font-size: small;
}

.hci-app-footer.fixed-footer {
  position: fixed;
  bottom: 0;
}

.hci-app-footer hci-ri-ul {
  margin-left: auto;
  margin-right: auto;
}

.hci-app-footer .nav-container {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.hci-app-footer ul, .navbar ol {
  list-style: none;
  padding-left: 0px;
}
