
.dropdown-menu hci-search-tree {
  max-height: 13rem;
}

hci-search-tree-controller {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  overflow: hidden;
  padding-left: 0.5rem;
  padding-bottom: 0.5rem;

  @include themify($themes) {
    background-color: themed("sidebar-header-background-color");
    color: themed("sidebar-header-text-color");
  }

  .search-title {
    flex-direction: column;
  }

  .search-title .dropdown-menu {
    margin-left: 10px;
    padding: 0;
  }

  .search-title {
    margin-bottom: 0;
    flex-shrink: 0;
  }

  .global-search {
    background-color: white;
    border-radius: 0.5rem;

    input {
      border: none;
      outline: 0;
      width: 100%;
    }
  }

  .search-options {
    @include themify($themes) {
      background-color: themed("search-options-background-color");
      color: themed("search-options-color");
    }

    display: none;
    opacity: 0;
    z-index: 30;
    position: fixed;
    min-width: 250px;
    border: gray solid 1px;
    font-size: 0.75rem;

    input {
      width: 100%;
      font-size: 0.75rem;
      height: 1.5rem;
    }
  }

  .search-options.expanded {
    display: flex;
    -webkit-animation: opaque 0.5s ease-in;
    -moz-animation: opaque 0.5s ease-in;
    -o-animation: opaque 0.5s ease-in;
    animation: opaque 0.5s ease-in;
    animation-fill-mode: forwards;
  }

  @keyframes opaque {
    0% {
      display: none;
      opacity: 0;
    }
    1% {
      display: flex;
      opacity: 0;
    }
    100% {
      display: flex;
      opacity: 1;
    }
  }

  .pill {
    align-items: center;
    border-radius: 1rem;
    padding: 0rem 0.25rem;
    font-size: 0.75rem;
    border: #def4ff 1px solid;
  }

}

:not(hci-sidebar) hci-search-tree-controller {
  padding-right: 0.5rem;
}

.risr-material {
  hci-search-tree-controller {
    .list-toggle {
      mat-button-toggle-group {
        flex: 1 1 auto;
        height: 2rem;
      }

      mat-button-toggle {
        overflow: hidden;
        flex: 1 1 auto;
        font-size: 1rem;
      }

      .mat-button-toggle-button {
        display: flex;
      }

      .mat-button-toggle-label-content {
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }
}

hci-search-tree {
  display: flex;
  flex-direction: column;
  overflow-y: hidden;

  .angular-tree-component {

    tree-node {
      font-size: 1.0rem;          
  	}
  }
  
  tree-root {
  	flex-grow: 1;
  }
  
  .node-content-wrapper {
  	flex-grow: 1;
  }
  
	.node-content-wrapper-active {
    @include themify($themes) {
      color: themed("sidebar-selected-item-color");
      background-color: themed("sidebar-selected-item-background-color");
    }
  }
}
